streamlit==1.29.0
conda_package_streaming==0.9.0
pandas==2.0.3
numpy==1.24.3
numpydoc==1.5.0
plotly==5.9.0
seaborn==0.12.2
imageio==2.31.1
requests==2.31.0
scipy==1.11.1
pickleshare==0.7.5
cloudpickle==2.2.1
scikit-image==0.20.0
scikit-learn
sklearn
